@mixin coloriEFont{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@mixin coloreDinamico($colore){
//questo mixin valta se il colore in ingresso è scuro o chiaro e decide di scurirlo o schiarirlo in base ai casi
    @if(lightness($colore) > 50){//lightness valuta un colore e restituisce la percentuale di chiarezza
        color: darken($colore, 15);//darken scurisce il colore preso in esame, il secondo parametro definisce quanto verrà scurito
    }@else{
        color: lighten($colore, 15);//lighten schiarisce il colore preso in esame, il secondo parametro definisce quanto verrà schiarito
    }

}

@mixin breakpoints($misura){

    @media screen and (min-width:$misura){
        @content;//content è ciò che si trova tra le parentesi graffe affiancate al mixin in fase di utilizzo del mixin stesso
    }

}